[DEFAULT]
; Set the basedir to the base filesystem path (minus trailing slash)
basedir = "/srv/firewall-admin"

[global]
server.socket_port = 8181
#server.socket_host = "192.168.100.123"

tools.encode.on = True
tools.encode.encoding = 'utf-8'

[/]
log.screen = True
log.access_file = %(basedir)s"/logs/access.log"
log.error_file = %(basedir)s"/logs/error.log"

tools.sessions.on = True
tools.sessions.storage_type = "file"
tools.sessions.storage_path = %(basedir)s"/sessions"
tools.sessions.timeout = 600
tools.sessions.clean_freq = 66

tools.session_auth.on = True
tools.session_auth.check_username_and_password = firewalladmin.auth.check
tools.session_auth.login_screen = firewalladmin.controller.login_page

[/static]
tools.sessions.on = False
tools.session_auth.on = False
tools.staticdir.on = True
tools.staticdir.dir = %(basedir)s"/firewalladmin/static"
