<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude" lang="en">
<xi:include href="master.html" />
  <head />
	<body>
    <div id="content" style="text-align: center;">
        <p>I put some pretty munin graphs in here.  Edit firewalladmin/templates/index.html to customize.</p>
        <p>firewall-admin is courtesy of <a href="http://michael.susens-schurter.com/blog/">Michael Schurter</a> with many thanks to Kyle Waremburg for the iptables code!</p>
    </div>
	</body>
</html>
